<div id="wrapper">

<header id="header">

	<section id="toolbar">
		<nav class="navbar navbar-expand navbar-light bg-light justify-content-between">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="mailto:email@email.com">
						<i class="far fa-envelope-open text-primary"></i>
						<span class="d-none d-md-inline">email@email.com</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="tel:+12345678900">
						<i class="fas fa-phone text-primary"></i>
						<span class="d-none d-md-inline">+12345678900</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="fab fa-twitter"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="fab fa-facebook-f"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="fab fa-instagram"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="fab fa-pinterest-p"></i>
					</a>
				</li>
			</ul>

			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="#">
						<i class="fas fa-comments text-primary" aria-hidden="true"></i>
						<span class="d-none d-md-inline">Send Message</span>
					</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#">
						<i class="fas fa-rss text-primary" aria-hidden="true"></i>
						<span class="d-none d-md-inline">Subscribe</span>
					</a>
				</li>
			</ul>
		</nav>
	</section> <!-- #toolbar -->


	<div id="navbar">
		<div class="site-brand">
			<a href="index.html" class="toggle-menu">
				<i class="fas fa-bars"></i>
			</a>
			<div class="site-logo">
				<a href="index.html">
					<img src="img/logo.png" alt="">
				</a>
			</div>
		</div>

		<nav class="site-menu">
			<ul>
				<li class="active">
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="shop.html">Shop</a>
				</li>
				<li>
					<a href="blog.html">Blog</a>
				</li>
				<li>
					<a href="shop.html">Services</a>
				</li>
				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</nav>

		<div class="toolbar">
			<ul>
				<li>
					<a href="#">
						<i class="fas fa-shopping-bag"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fas fa-user"></i>
					</a>
				</li>
			</ul>
		</div>

	</div> <!-- #navbar -->

</header> <!-- #header -->

<!-- Asside Mega Menu -->
<div class="main-menu mobile-mega-menu">
	
	<div class="mega-menu-title d-flex justify-content-between align-items-center">
		<div>
			<p class="mb-0 pl-3 text-primary">Shop Menu</p>
		</div>
		<a class="toggle-menu" href="#">
			<i class="fas fa-times"></i>
		</a>
	</div>

	<div class="px-2">

		<!-- search -->
		<form class="search-form py-2" method="get" action="#">
	    	<div class="input-group">
				<input type="search" class="form-control" placeholder="Search" aria-label="Search">
				<div class="input-group-append">
					<button class="btn btn-outline-primary" type="button">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</div>
		</form> <!--//search -->
	</div>
	<!-- nav -->
	<nav>
		<ul>
			<li>
				<a href="#">Home</a>
				<ul>
					<li><a href="#">Services</a></li>
					<li><a href="#">Products</a></li>
					<li><a href="#">Products</a></li>
					<li><a href="#">Products</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li>
						<a href="#">Additional Details</a>
						<ul>
							<li><a href="#">Hello World</a></li>
							<li>
								<a href="#">Hello World</a>
								<ul>
									<li><a href="#">A</a></li>
									<li><a href="#">C</a></li>
									<li><a href="#">B</a></li>
									<li><a href="#">D</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">About Us</a>
				<ul>
					<li><a href="#">Help</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">What Ever</a></li>
				</ul>
			</li>
			<li><a href="#">Products</a></li>
			<li>
				<a href="#">Medical Services</a>
				<ul>
					<li><a href="#">Cardiovascular</a></li>
					<li><a href="#">Vascular</a></li>
					<li><a href="#">Orthopedics</a></li>
					<li><a href="#">Women's Health</a></li>
					<li>
						<a href="#">Cancer</a>
						<ul>
							<li><a href="#">Corp</a></li>
							<li><a href="#">Inner</a></li>
							<li><a href="#">Cardiovascular</a></li>
							<li><a href="#">Vascular</a></li>
							<li><a href="#">Orthopedics</a></li>
							<li><a href="#">Women's Health</a></li>
							<li><a href="#">Cardiovascular</a></li>
							<li><a href="#">Vascular</a></li>
							<li><a href="#">Orthopedics</a></li>
							<li><a href="#">Cardiovascular</a></li>
							<li><a href="#">Vascular</a></li>
							<li><a href="#">Orthopedics</a></li>
							<li><a href="#">Women's Health</a></li>
							<li><a href="#">Cardiovascular</a></li>
							<li><a href="#">Vascular</a></li>
						</ul>
					</li>
					<li><a href="#">Cardiovascular</a></li>
					<li><a href="#">Vascular</a></li>
					<li><a href="#">Orthopedics</a></li>
					<li><a href="#">Women's Health</a></li>
					<li><a href="#">Cardiovascular</a></li>
					<li><a href="#">Vascular</a></li>
					<li><a href="#">Orthopedics</a></li>
					<li>
						<a href="#">Women's Health</a>
						<ul>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
						</ul>
					</li>
					<li><a href="#">Cardiovascular</a></li>
					<li><a href="#">Vascular</a></li>
					<li>
						<a href="#">What</a>
						<ul>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">Corp</a></li>
							<li><a href="#">Inner</a></li>
							<li><a href="#">Cardiovascular Cardiovascular Cardiovascular Cardiovascular Cardiovascular Cardiovascular Cardiovascular Cardiovascular Cardiovascular Cardiovascular Cardiovascular Cardiovascular </a></li>
							<li><a href="#">Vascular</a></li>
							<li><a href="#">Orthopedics</a></li>
							<li><a href="#">Women's Health</a></li>
							<li><a href="#">Cardiovascular</a></li>
							<li><a href="#">Vascular</a></li>
							<li><a href="#">Orthopedics</a></li>
							<li><a href="#">Cardiovascular</a></li>
							<li><a href="#">Vascular</a></li>
							<li><a href="#">Orthopedics</a></li>
							<li><a href="#">Women's Health</a></li>
							<li><a href="#">Cardiovascular</a></li>
							<li><a href="#">Vascular</a></li>
						</ul>
					</li>
					<li><a href="#">Orthopedics</a></li>
					<li><a href="#">Women's Health</a></li>
				</ul>
			</li>
			<li><a href="#">Health &amp; Wellness</a></li>
		</ul>
	</nav> <!-- //nav -->

</div> <!--//Asside Mega Menu -->