/**
 * Body
 */
$body-bg:                   	#f7f7f7;
$body-color:                	#656565;
$font-family-base:				'Open Sans', sans-serif;
$font-size-base:				0.95rem;

/**
 * Primary colors
 */
$primary:						#409EBD;

/**
 * Border
 */
$border-color:					#eeeeee;

/**
 * Navbar
 */
$navbar-bg:						#ffffff;
$navbar-color:					#757575;
$navbar-link-size:				0.95rem;

// font-family: 'Roboto Condensed', sans-serif;